<!-- reCAPTCHA v3 -->
<script src="https://www.google.com/recaptcha/api.js?render=6LdXqLUUAAAAAI9r6Y98VCSM4UxSQjlUHxTnvqiC"></script>

<form action="/login" method="POST" id="form">
  <h2>Login</h2>

  <label for="email">Email</label>
  <input type="text" name="email">

  <label for="password">Senha</label>
  <input type="password" name="password">

  {{#if errorMessage }}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button>Iniciar sessão</button>

  <p class="account-message">
    Não possui uma conta? <a href="/signup">Cadastre-se</a>
  </p>
</form>

<!--strength meter-->
<script type="text/javascript" src="/helpers/reCaptcha.js"></script>