<div id="login-page">
  <form action="/login" method="POST" id="form" class="login-form">
    <h1><img src="/images/logo-primary.svg" alt="">Tinpet</h1>

    <input type="text" name="email" placeholder="E-mail">

    <input type="password" name="password" placeholder="Senha">

    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <button>Entrar</button>

    <p>
      Ainda não possui uma conta? <a href="/signup">Cadastre-se</a>
    </p>
  </form>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=6LdXqLUUAAAAAI9r6Y98VCSM4UxSQjlUHxTnvqiC"></script>
<script type="text/javascript" src="/helpers/reCaptcha.js"></script>