<script src="https://www.google.com/recaptcha/api.js?render=6LdXqLUUAAAAAI9r6Y98VCSM4UxSQjlUHxTnvqiC"></script>


<form id="form" action="/signup" method="POST">
  <label for="name">Nome</label><br>
  <input type="text" name="name" id='name' placeholder="Seu Nome">

  <label for="email">E-mail</label><br>
  <input type="email" name="email" id="email" placeholder="seunome@tinpet.com">

  <label for="password">Password</label><br>
  <input type="password" name="password" id="password" placeholder="********">

  <label for="birthDate">Data de Nascimento</label><br>
  <input type="date" name="birthDate" id="birthDate" placeholder="16/02/1987">

  <label for="phone">Telefone</label><br>
  <input type="text" name="phone" id="phone" placeholder="(11) 99999-5555">

  {{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <div class="progress">
    <div id="StrengthProgressBar" class="progress-bar"></div>
  </div>

  <button type="submit">Criar Conta</button>
</form>

<!--strength meter-->
<script type="text/javascript" src="/helpers/reCaptcha.js"></script>