<div id="register-page">
  <form id="form" action="/signup" method="POST">
    <a href="/">
      <h1><img src="/images/logo-primary.svg" alt="">Tinpet</h1>
    </a>

    <h2>Crie uma nova conta</h2>

    <input type="text" name="name" id='name' placeholder="Nome">

    <input type="email" name="email" id="email" placeholder="E-mail">

    <input type="password" name="password" id="password" placeholder="Senha">

    <input type="date" name="birthDate" id="birthDate" placeholder="Data de Nascimento">

    <input type="text" name="phone" id="phone" placeholder="Telefone">

    {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <div class="progress">
      <div id="StrengthProgressBar" class="progress-bar"></div>
    </div>

    <button class="register-submit" type="submit">Criar Conta</button>
  </form>
</div>

{{!-- <script type="text/javascript" src="/helpers/reCaptcha.js"></script> --}}
{{!-- <script src="https://www.google.com/recaptcha/api.js?render=6LdXqLUUAAAAAI9r6Y98VCSM4UxSQjlUHxTnvqiC"></script> --}}