<div id="pet-form-page">
  <form action="/register" method="POST" enctype="multipart/form-data">
    <a href="/">
      <h1><img src="/images/logo-primary.svg" alt="">Tinpet</h1>
    </a>

    <h2>Cadastrar Pet</h2>

    <input type="text" name="name" id="name" placeholder="Nome do pet">

    <input type="text" name="breed" id="breed" placeholder="Raça">

    <label for="birth">Data de nascimento</label>
    <input type="date" name="birth" id="birth" placeholder="Data de nascimento">

    <label for="gender">Gênero</label>
    <select name="gender" id="gender">
      <option value="--">--</option>
      <option value="Macho">Macho</option>
      <option value="Fêmea">Fêmea</option>
    </select>

    <label for="pedigree">Pedigree</label>
    <select name="pedigree" id="pedigree">
      <option value="--">--</option>
      <option value="Sim">Sim</option>
      <option value="Não">Não</option>
    </select>

    <label for="imageUrl" class="upload-image">Fazer upload da foto do Pet
      <input id="imageUrl" type="file" name="imageUrl">
    </label>

    <button type="submit">Cadastrar Pet</button>
  </form>
</div>