<div id="container">
  <a href="/signup">Cadastro</a><br>
  <a href="/login">Login</a><br>
  <a href="/my-account">Pagina Protegida (rota com autenticação)</a><br>
  <a href="/logout">Logout</a>
</div>