<div id="home-page">
  <main>
    <section>
      <span>
        <a href="/">
          <h1>
            <img src="/images/logo-primary.svg" alt="Logo">
            Tinpet
          </h1>
        </a>
        <p>Encontre um romance para seu PET!</p>
      </span>
      <div>
        <button><a href="/signup">Cadastrar-se</a></button>
        <button><a href="/my-account">Entrar</a></button>
      </div>
    </section>
  </main>
  <footer>
    <div>
      <p>&copy Tinpet 2019. Todos os direitos reservados.</p>
    </div>
  </footer>
</div>