<div id="not-found-page">
  <h1>404</h1>
  <p>Nós não conseguimos encontrar a página que você está procurando</p>
  <a href="/">
    <button>Voltar ao inicio</button>
  </a>
  <div>
    <strong>Se tiver dúvida entre em contato conosco</strong>
    <span>contato@tinpet.com.br</span>
    <p>(11) 4002-8922</p>
  </div>
</div>