<div id="application-page">
  <header>
    <div>
      <img src="/images/logo-primary.svg" alt="Logo">
      <button>P</button>
    </div>
  </header>
  <section>
    <div>
      <h1>Pets</h1>
      <button>Adicionar Pet</button>
    </div>
  </section>
  <main>
    <div class="application-start">
      <span>
        <img src="/images/dashed-line.svg" alt="Dashed line">
      </span>
      <h2>Adicione seu primeiro Pet</h2>
      <p>Clique no botão acima para adicionar seu primeiro Pet</p>
    </div>
  </main>
  <footer>
    <div>
      <p>&copy Tinpet 2019. Todos os direitos reservados.</p>
    </div>
  </footer>
</div>