@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  overflow-y: overlay; }

body {
  background: #eee;
  -webkit-font-smoothing: antialiased !important; }

body,
input,
button {
  font: 16px 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #2d2d2d; }

button {
  border: none;
  cursor: pointer; }

input {
  height: 52px;
  width: 100%;
  padding: 15px;
  border: 1px solid #ced0d4;
  border-radius: 5px;
  background: #fff; }

a {
  text-decoration: none; }

#home-page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5; }
  #home-page section {
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    #home-page section button {
      font-weight: bold;
      font-size: 16px;
      width: 300px;
      height: 52px;
      border-radius: 30px;
      margin-bottom: 20px;
      box-shadow: 0 3px 15px 1px rgba(55, 58, 64, 0.14);
      background-image: linear-gradient(97deg, #face48, #fcde83);
      transition: all 0.5s; }
      #home-page section button:hover {
        opacity: 0.8; }
    #home-page section div {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 20px 30px; }
    #home-page section p {
      font: 25px 'Baloo Thambi', sans-serif;
      font-weight: bold;
      margin-left: 10px;
      position: relative;
      left: 6vw;
      top: -20px;
      color: #555; }
    #home-page section a {
      color: #2d2d2d;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 100%; }
      #home-page section a h1 {
        font: 120px 'Baloo Thambi', sans-serif;
        color: #face48; }
        #home-page section a h1 img {
          width: 120px;
          transform: rotate(-20deg);
          position: relative;
          top: -7px;
          margin-right: 10px; }
  #home-page main {
    margin-top: 30px;
    max-width: 1024px;
    font-size: 16px;
    min-height: calc(100vh - 150px);
    background: #fff;
    padding: 40px;
    box-shadow: 0 5px 25px 1px rgba(55, 58, 64, 0.14);
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column; }
    #home-page main .application-start {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      #home-page main .application-start h2 {
        font-size: 30px;
        font-weight: bold; }
      #home-page main .application-start span {
        height: 0; }
        #home-page main .application-start span img {
          position: relative;
          left: 290px;
          top: -200px; }
  #home-page footer {
    height: 70px;
    background: #555;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center; }
    #home-page footer div {
      height: 100%;
      width: 1024px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ced0d4; }

@media (max-width: 900px) {
  .application-start span {
    display: none; } }

#login-page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5; }
  #login-page form {
    max-width: 564px;
    font-size: 16px;
    height: 80vh;
    background: #fff;
    padding: 40px;
    box-shadow: 0 5px 25px 1px rgba(55, 58, 64, 0.14);
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #login-page form h1 {
      font: 80px 'Baloo Thambi', sans-serif;
      color: #face48;
      position: relative;
      top: -30px;
      margin: 0 auto; }
      #login-page form h1 img {
        width: 60px;
        transform: rotate(-20deg);
        position: relative;
        top: -7px;
        margin-right: 10px; }
    #login-page form h2 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 30px !important; }
    #login-page form input {
      font-size: 16px;
      margin-bottom: 30px; }
      #login-page form input:active, #login-page form input:focus {
        font-size: 16px; }
    #login-page form p {
      display: flex;
      justify-content: flex-start; }
      #login-page form p a {
        color: #face48;
        font-weight: bold;
        margin-left: 10px;
        transition: all 0.8s; }
        #login-page form p a:hover {
          text-decoration: none;
          opacity: 0.6; }
    #login-page form button {
      font-weight: bold;
      font-size: 16px;
      width: 100%;
      height: 52px;
      border-radius: 30px;
      margin-bottom: 20px;
      box-shadow: 0 3px 15px 1px rgba(55, 58, 64, 0.14);
      background-image: linear-gradient(97deg, #face48, #fcde83);
      transition: all 0.5s; }
      #login-page form button:hover {
        opacity: 0.8; }

#register-page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  padding: 50px 0; }
  #register-page form {
    max-width: 564px;
    font-size: 16px;
    min-height: 80vh;
    background: #fff;
    padding: 40px;
    box-shadow: 0 5px 25px 1px rgba(55, 58, 64, 0.14);
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #register-page form a {
      text-decoration: none;
      text-align: center; }
      #register-page form a h1 {
        font: 60px 'Baloo Thambi', sans-serif;
        color: #face48;
        position: relative;
        margin: 0 auto; }
        #register-page form a h1 img {
          width: 55px;
          transform: rotate(-20deg);
          position: relative;
          top: -7px;
          margin-right: 10px; }
    #register-page form h2 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px !important; }
    #register-page form input {
      font-size: 16px;
      margin-bottom: 30px; }
      #register-page form input:active, #register-page form input:focus {
        font-size: 16px; }
    #register-page form p {
      display: flex;
      justify-content: flex-start; }
      #register-page form p a {
        color: #face48;
        font-weight: bold;
        margin-left: 10px;
        transition: all 0.8s; }
        #register-page form p a:hover {
          text-decoration: none;
          opacity: 0.6; }
    #register-page form button {
      font-weight: bold;
      font-size: 16px;
      width: 100%;
      height: 52px;
      border-radius: 30px;
      box-shadow: 0 3px 15px 1px rgba(55, 58, 64, 0.14);
      background-image: linear-gradient(97deg, #face48, #fcde83);
      transition: all 0.5s; }
      #register-page form button:hover {
        opacity: 0.8; }

#application-page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5; }
  #application-page header {
    width: 100vw;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ced0d4; }
    #application-page header div {
      width: 1024px;
      max-height: 80px;
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
      align-items: center; }
      #application-page header div img {
        width: 52px;
        transform: rotate(-20deg);
        margin-right: 10px; }
      #application-page header div button.user {
        border: 2px solid #ced0d4;
        border-radius: 30px;
        width: 50px;
        height: 50px;
        background: #face48;
        font-weight: bold;
        font-size: 24px;
        color: #fff; }
        #application-page header div button.user .user-options {
          height: 0;
          width: 200px;
          position: relative;
          right: 120px;
          top: 25px;
          z-index: 1000;
          display: none;
          cursor: pointer; }
          #application-page header div button.user .user-options ul {
            width: 100% !important;
            margin: 0;
            background: #fff; }
            #application-page header div button.user .user-options ul li {
              list-style: none;
              border: 1px solid #ced0d4;
              padding: 5px;
              padding-left: 10px;
              text-align: start;
              cursor: pointer; }
              #application-page header div button.user .user-options ul li a {
                text-decoration: none;
                color: #2d2d2d;
                font-size: 16px;
                font-weight: normal;
                transition: all 0.5s;
                cursor: pointer; }
                #application-page header div button.user .user-options ul li a:hover {
                  opacity: 0.8;
                  color: #face48; }
  #application-page section {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center; }
    #application-page section div {
      width: 1024px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 30px; }
    #application-page section h1 {
      font-size: 42px;
      font-weight: bold; }
    #application-page section a {
      color: #2d2d2d;
      text-decoration: none; }
      #application-page section a button {
        font-weight: bold;
        font-size: 16px;
        width: 200px;
        height: 52px;
        border-radius: 30px;
        box-shadow: 0 3px 15px 1px rgba(55, 58, 64, 0.14);
        background-image: linear-gradient(97deg, #face48, #fcde83);
        transition: all 0.5s; }
        #application-page section a button:hover {
          opacity: 0.8; }
  #application-page main {
    max-width: 1024px;
    font-size: 16px;
    min-height: calc(100vh - 320px);
    background: #fff;
    padding: 40px;
    box-shadow: 0 5px 25px 1px rgba(55, 58, 64, 0.14);
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column; }
    #application-page main .application-start {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 70vh; }
      #application-page main .application-start h2 {
        font-size: 30px;
        font-weight: bold; }
      #application-page main .application-start span {
        height: 0; }
        #application-page main .application-start span img {
          position: relative;
          left: 290px;
          top: -200px; }
  #application-page .application-pet-list li {
    list-style: none;
    min-height: 200px;
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
    padding: 30px;
    margin: 30px 0; }
    #application-page .application-pet-list li .application-pet-list__header {
      display: flex;
      margin-bottom: 30px; }
      #application-page .application-pet-list li .application-pet-list__header span {
        height: 150px;
        width: 150px;
        border: 4px solid #face48;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center; }
      #application-page .application-pet-list li .application-pet-list__header img {
        height: 100%;
        border-radius: 50%; }
      #application-page .application-pet-list li .application-pet-list__header h3 {
        margin: 10px 0 0 20px;
        font-size: 30px;
        font-weight: bold; }
    #application-page .application-pet-list li .application-pet-list__info {
      width: 100%;
      display: flex;
      flex-direction: column; }
      #application-page .application-pet-list li .application-pet-list__info span {
        display: flex; }
      #application-page .application-pet-list li .application-pet-list__info p::before {
        content: '.';
        color: transparent; }
    #application-page .application-pet-list li .application-pet-list__buttons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 0; }
      #application-page .application-pet-list li .application-pet-list__buttons img {
        width: 25px;
        margin-bottom: 50px;
        transition: all 0.5s; }
        #application-page .application-pet-list li .application-pet-list__buttons img:hover {
          opacity: 0.7; }
      #application-page .application-pet-list li .application-pet-list__buttons a {
        margin-left: 30px; }
      #application-page .application-pet-list li .application-pet-list__buttons a:first-child img {
        width: 50px;
        animation: rotate 0.6s linear infinite alternate; }

@keyframes rotate {
  from {
    transform: rotate(150deg); }
  to {
    transform: rotate(200deg); } }
  #application-page footer {
    height: 70px;
    background: #555;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center; }
    #application-page footer div {
      height: 100%;
      width: 1024px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ced0d4; }

@media (max-width: 900px) {
  .application-start span {
    display: none; } }

.show {
  display: block !important; }

#not-found-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #not-found-page p {
    text-align: center;
    font-size: 16px;
    max-width: 300px;
    margin-bottom: 30px; }
  #not-found-page h1 {
    font-size: 170px;
    font-weight: bold;
    color: #face48; }
  #not-found-page button {
    color: #2d2d2d;
    font-weight: bold;
    font-size: 16px;
    width: 200px;
    height: 52px;
    border: 1px solid #2d2d2d;
    border-radius: 30px;
    margin-bottom: 20px;
    background: #fff;
    margin-bottom: 30px;
    transition: all 0.5s; }
    #not-found-page button:hover {
      opacity: 0.8; }
  #not-found-page div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #not-found-page div span {
      border-top: 1px solid #ced0d4;
      border-bottom: 1px solid #ced0d4;
      margin: 10px 0;
      padding: 10px 0;
      width: 300px;
      text-align: center;
      font-size: 14px; }
    #not-found-page div p {
      font-size: 14px; }

#pet-form-page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  padding: 50px 0; }
  #pet-form-page form {
    max-width: 564px;
    font-size: 16px;
    min-height: 80vh;
    background: #fff;
    padding: 40px;
    box-shadow: 0 5px 25px 1px rgba(55, 58, 64, 0.14);
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #pet-form-page form a {
      text-decoration: none;
      text-align: center; }
      #pet-form-page form a h1 {
        font: 60px 'Baloo Thambi', sans-serif;
        color: #face48;
        position: relative;
        margin: 0 auto; }
        #pet-form-page form a h1 img {
          width: 55px;
          transform: rotate(-20deg);
          position: relative;
          top: -7px;
          margin-right: 10px; }
    #pet-form-page form h2 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px !important; }
    #pet-form-page form input {
      font-size: 16px;
      margin-bottom: 30px; }
      #pet-form-page form input:active, #pet-form-page form input:focus {
        font-size: 16px; }
    #pet-form-page form p {
      display: flex;
      justify-content: flex-start; }
      #pet-form-page form p a {
        color: #face48;
        font-weight: bold;
        margin-left: 10px;
        transition: all 0.8s; }
        #pet-form-page form p a:hover {
          text-decoration: none;
          opacity: 0.6; }
    #pet-form-page form label {
      margin: 10px 0; }
    #pet-form-page form select {
      width: 100%;
      height: 52px;
      padding: 10px;
      border-radius: 5px;
      border: solid 1px #ced0d4;
      background-color: #ffffff;
      margin-bottom: 10px; }
    #pet-form-page form input[type='file'] {
      display: none; }
    #pet-form-page form .upload-image {
      width: 100%;
      height: 52px;
      border-radius: 30.4px;
      border: solid 1px #767b85;
      background-color: #fff;
      color: #2d2d2d;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      #pet-form-page form .upload-image:hover {
        opacity: 0.7; }
    #pet-form-page form button {
      font-weight: bold;
      font-size: 16px;
      width: 100%;
      height: 52px;
      border-radius: 30px;
      box-shadow: 0 3px 15px 1px rgba(55, 58, 64, 0.14);
      background-image: linear-gradient(97deg, #face48, #fcde83);
      transition: all 0.5s; }
      #pet-form-page form button:hover {
        opacity: 0.8; }

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%; }

/*# sourceMappingURL=style.css.map */