@import 'global.scss';
@import 'login.scss';
@import 'register.scss';
@import 'application.scss';

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}
